body {
    background-color: beige;
}

.sideBar {
    width: 29%;
    background-color: gray;
}



  .container {
    width: 100%;
    height: auto;
    background-color: lightgrey;
   
   
  }

  h3 {
    display: inline-block;
    height: 44px;
    margin-top: 0;
    margin-right: 1px;
   padding: 16px;
    background-color: grey;
    font-family: Helvetica;
    font-weight: 200;
    color: white;
  }